# Loading data into Pandas

In [18]:
import pandas as pd

basefolder=r"C:\Users\Das Bros\Documents\Pandas"

df = pd.read_csv(r"C:\Users\Das Bros\Documents\Pandas\pokemon_data.csv.txt",index_col='#')

print(df)

                      Name   Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
#
1                Bulbasaur    Grass  Poison  45      49       49       65
2                  Ivysaur    Grass  Poison  60      62       63       80
3                 Venusaur    Grass  Poison  80      82       83      100
3    VenusaurMega Venusaur    Grass  Poison  80     100      123      122
4               Charmander     Fire     NaN  39      52       43       60
..                     ...      ...     ...  ..     ...      ...      ...
719                Diancie     Rock   Fairy  50     100      150      100
719    DiancieMega Diancie     Rock   Fairy  50     160      110      160
720    HoopaHoopa Confined  Psychic   Ghost  80     110       60      150
720     HoopaHoopa Unbound  Psychic    Dark  80     160       60      170
721              Volcanion     Fire   Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
#
1         65     45           1      False
2         80     60           1      False
3        100     80           1      False
3        120     80           1      False
4         50     65           1      False
..       ...    ...         ...        ...
719      150     50           6       True
719      110    110           6       True
720      130     70           6       True
720      130     80           6       True
721       90     70           6       True

[800 rows x 11 columns]

# Describing Data

In [29]:
df.describe()

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Total
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000,800.00000
mean,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375,435.10250
std,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129,119.96304
min,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000,180.00000
25%,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000,330.00000
50%,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000,450.00000
75%,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000,515.00000
max,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000,780.00000

# Sorting Data

In [19]:
sorted = df.sort_values(['Name'])

print(sorted)

                        Name   Type 1  Type 2   HP  Attack  Defense  Sp. Atk  \
#
460                Abomasnow    Grass     Ice   90      92       75       92
460  AbomasnowMega Abomasnow    Grass     Ice   90     132      105      132
63                      Abra  Psychic     NaN   25      20       15      105
359                    Absol     Dark     NaN   65     130       60       75
359          AbsolMega Absol     Dark     NaN   65     150       60      115
..                       ...      ...     ...  ...     ...      ...      ...
571                  Zoroark     Dark     NaN   60     105       60      120
570                    Zorua     Dark     NaN   40      65       40       80
41                     Zubat   Poison  Flying   40      45       35       30
634                 Zweilous     Dark  Dragon   72      85       70       65
718         Zygarde50% Forme   Dragon  Ground  108     100      121       81

     Sp. Def  Speed  Generation  Legendary
#
460       85     60           4      False
460      105     30           4      False
63        55     90           1      False
359       60     75           3      False
359       60    115           3      False
..       ...    ...         ...        ...
571       60    105           5      False
570       40     65           5      False
41        40     55           1      False
634       70     58           5      False
718       95     95           6       True

[800 rows x 11 columns]

# Making changes to the data

Making a coloumn 'Total' which is the sum of HP,Attack,Defense,Sp. Atk,Sp.defense and Speed

In [20]:
df['Total'] = df.iloc[:,3:9].sum(axis=1)

print(df)

                      Name   Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
#
1                Bulbasaur    Grass  Poison  45      49       49       65
2                  Ivysaur    Grass  Poison  60      62       63       80
3                 Venusaur    Grass  Poison  80      82       83      100
3    VenusaurMega Venusaur    Grass  Poison  80     100      123      122
4               Charmander     Fire     NaN  39      52       43       60
..                     ...      ...     ...  ..     ...      ...      ...
719                Diancie     Rock   Fairy  50     100      150      100
719    DiancieMega Diancie     Rock   Fairy  50     160      110      160
720    HoopaHoopa Confined  Psychic   Ghost  80     110       60      150
720     HoopaHoopa Unbound  Psychic    Dark  80     160       60      170
721              Volcanion     Fire   Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary  Total
#
1         65     45           1      False    318
2         80     60           1      False    405
3        100     80           1      False    525
3        120     80           1      False    625
4         50     65           1      False    309
..       ...    ...         ...        ...    ...
719      150     50           6       True    600
719      110    110           6       True    700
720      130     70           6       True    600
720      130     80           6       True    680
721       90     70           6       True    600

[800 rows x 12 columns]

# Saving our updated Data (Exporting into Desired Format)

In [22]:
df.to_csv('modified.csv', index=False)

# Filtering Data

In [28]:
new = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]
                
print(new)

                      Name Type 1  Type 2   HP  Attack  Defense  Sp. Atk  \
#
1                Bulbasaur  Grass  Poison   45      49       49       65
2                  Ivysaur  Grass  Poison   60      62       63       80
3                 Venusaur  Grass  Poison   80      82       83      100
3    VenusaurMega Venusaur  Grass  Poison   80     100      123      122
43                  Oddish  Grass  Poison   45      50       55       75
44                   Gloom  Grass  Poison   60      65       70       85
45               Vileplume  Grass  Poison   75      80       85      110
69              Bellsprout  Grass  Poison   50      75       35       70
70              Weepinbell  Grass  Poison   65      90       50       85
71              Victreebel  Grass  Poison   80     105       65      100
315                Roselia  Grass  Poison   50      60       45      100
406                  Budew  Grass  Poison   40      30       35       50
407               Roserade  Grass  Poison   60      70       65      125
590                Foongus  Grass  Poison   69      55       45       55
591              Amoonguss  Grass  Poison  114      85       70       85

     Sp. Def  Speed  Generation  Legendary  Total
#
1         65     45           1      False    318
2         80     60           1      False    405
3        100     80           1      False    525
3        120     80           1      False    625
43        65     30           1      False    320
44        75     40           1      False    395
45        90     50           1      False    490
69        30     40           1      False    300
70        45     55           1      False    390
71        70     70           1      False    490
315       80     65           3      False    400
406       70     55           4      False    280
407      105     90           4      False    515
590       55     15           5      False    294
591       80     30           5      False    464